<div class="container">
  <h2 class="text-info">Task List</h2>
  <table class="table table-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let task of tasks " class="text-warning">
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.dueDate | date }}</td>
      <td>
        <div *ngIf="task.isCompleted === false">
          <button class="btn btn-success" (click)="markAsCompleted(task.id)">
            Mark Completed
          </button>
        </div>
        <p [ngStyle]="{color: task.isCompleted ?'green':'red'}">
          {{task.isCompleted ? 'completed':'Todo'}}
        </p>
      </td>
      <td>
        <button type="button" (click)="update(task)" class="btn btn-primary" data-toggle="modal"
          data-target="#editModal">
          Edit
        </button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteTask(task.id)">
            Delete
        </button>
      </td>
    </tr>
  </table>
  <ng-container *ngIf="editing">
    
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Edit Task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeEditModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form (ngSubmit)="saveEditData()">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" [(ngModel)]="updateData.title" name="title" value=""
                  required>

              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" [(ngModel)]="updateData.description" name="description"
                  value="" required></textarea>
              </div>
              <div class="form-group">
                <label for="dueDate">Due Date</label>
                <input type="date" class="form-control" id="dueDate" [(ngModel)]="updateData.dueDate" name="dueDate"
                  value="" required>

              </div>
              <button type="submit" class="btn btn-primary">Update Task</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>